.logout-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.logout-popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #8a252c;
  font-family: var(--font-poppins);
}

.Confirmation {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.ConfirmLogoutIcon {
  display: block;
  width: 150px;
  height: 130px;
  margin: auto;
}

.LogoutPopUpContainer,
.CancelButtonContainer {
  display: inline-block;
  vertical-align: top;
  margin-top: 15px;
  margin-left: 20px;
}

@media (max-width: 500px) {
  .logout-popup-content {
    position: fixed !important;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    max-width: 350px;
    overflow-y: auto;
    padding: 10px;
  }
}
